<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>personal.smolllm-server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/rocry/.local/bin/smolllm-server</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/rocry/w/smolllm-server</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/rocry/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/personal.smolllm-server.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/personal.smolllm-server.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
